/*Elias EEDAT23 2024/04/28*/
/* Default setting för hela dokumentet*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default setting för hela bodyn, bestämmer font och avstånd mellan rader*/
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3;
    min-height: 100vh;
    flex-direction: column;
}

/* Styles för navigeringsmenyn */
.navbar{
    background-color: darkgray;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Gör att menyn följer med när man scrollar */
    padding: 10px 20px;
}

.navbar a{
    color: whitesmoke;
    margin-right: 40px;
    text-decoration: none;
    font-size: 20px;
}

.navbar .menu{
    display: flex;
    list-style-type: none;
}

.navbar a:hover{
    color: black;
    cursor: pointer;
}

/* Meny för små skärmar*/
.navbar .hamburgur{
    font-size: 40px;
    cursor: pointer;
    display: none; /* Dölj hamburgarmenyikonen som standard */
}

.navbar .menu li{
    margin-right: 20px;
}


/* Styles för huvudinnehållet */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}


/* Styles för innehållet */
.card{
    width: 600px;
    height: 400px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 5px darkgray;
    padding: 10px 30px 10px 30px;
    line-height: 2;
    font-size: 18px;
    word-wrap: break-word;
    overflow: scroll;
}

.card h2{
    font-size: 48px;
    font-weight: 900;
}

.card h3{
    font-size: 28px;
    font-weight: 700;
}

.cardimg{
    width: 600px;
    height: 400px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 5px darkgray;
    padding: 10px 30px 10px 30px;
    line-height: 2;
    font-size: 18px;
}

.cardimg img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    max-width: 600px;
    max-height: 400px;
}


/* Styles för footern */
.footer{
    background-color: darkgray;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;  /*Gör att footern följer med när man scrollar */
    padding: 0;
    z-index: 1000;
    bottom: 0;
    margin-top: auto;
    width: 100%;
}

.footer p{
    font-size: 20px;
}



/* Style för Dark mode */

.dark-mode{
    background-color: #222;
    color: #fff;
}

.dark-mode .navbar{
    background-color: #333;
}

.dark-mode .footer{
    background-color: #333;
}


.dark-mode-switch{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dark-mode-switch i{
    font-size: 20px;
    margin: 0px 10px;
}



/*Style för Carosel*/

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Begränsa den maximala bredden för containern */
    margin: 0 auto; /* Centrera containern horisontellt */
}

/* Styles för containern för bilderna i karusellen */
.carosel {
    position: relative;
    width: 500px; /* Startbredd för bildcontainern */
    margin: 50px auto; /* Lägg till marginal ovanför och under containern */
    max-width: 100%; /* Gör att bildcontainern blir responsiv */
    height: auto; /* Anpassa höjden automatiskt baserat på bredden */
}

/* Dölj alla bilder från början */
.imgs {
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Lägg till en smidig övergång när bilder visas/döljs */
    display: none;
    position: relative; 
}

/* Gör att bilderna skalas responsivt inuti containern */
.imgs img {
    width: 100%;
    height: auto;
}

.imgs.show{
    opacity: 1;
    display: block;
}

/* Visa bildtext lite skuggad i bilden*/
.caption {
    
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%;   /* Gör att bildtexten sträcker sig över hela bildens bredd */
    background-color: rgba(0, 0, 0, 0.5); /* Lägg till en halvgenomskinlig svart bakgrund på bildtexten */
    color: white;  /* Fontfärgen */
    padding: 10px; 
    box-sizing: border-box;  
}

/* Positionera indikatorpunkterna under bildkarusellen */
.dots {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10px; /* Avstånd från toppen av containern */
    left: 50%; /* Centrera indikatorpunkterna horisontellt */
    transform: translateX(-50%); /* Justera för centreringen */
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Styles för indikatorpunkterna */
.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: lightgray;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 1s ease; /* Lägg till en smidig övergång när färgen ändras */
    margin: 0 5px; /* Lägg till lite mellanrum mellan indikatorpunkterna */
}

/* Markera den aktiva indikatorpunkten med en annan färg */
.dot.active {
    background-color: indigo;
}





/*Så att sidan funkar på mindre skärmar*/


@media (max-width: 768px) {
    .navbar .menu{
        display: none;
    }

    .navbar .hamburgur{
        display: flex;
    }

    .navbar.responsive .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100%;
        background-color: darkgray;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .navbar.responsive .menu li{
        margin: 10px;
    }


}
